<!-- form for creating a new product -->
<div class="container">  
    <form name="myForm" class="form-horizontal" id="checked-form" role="form" ng-submit="createCtrl.saveProduct()">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label table-head">Type</label>
            <div class="col-sm-10">
                <label class="radio-inline"><input name="type" type="radio" ng-model="createCtrl.newProduct.type" value="Simple" required> Simple </label>
                <label class="radio-inline"><input name="type" type="radio" ng-model="createCtrl.newProduct.type" value="Message"> Message </label>
                <label class="radio-inline"><input name="type" type="radio" ng-model="createCtrl.newProduct.type" value="Graphic"> Graphic </label>   
            </div>
        </div>
            
        <div class="form-group row">
            <label class="col-sm-2 col-form-label table-head">Shelf</label>
            <div class="col-sm-10">
                <label class="radio-inline"><input name="shelf" type="radio" ng-model="createCtrl.newProduct.shelf" value="A" required> A </label>
                <label class="radio-inline"><input name="shelf" type="radio" ng-model="createCtrl.newProduct.shelf" value="B"> B </label>
                <label class="radio-inline"><input name="shelf" type="radio" ng-model="createCtrl.newProduct.shelf" value="C"> C </label>
                <label class="radio-inline"><input name="shelf" type="radio" ng-model="createCtrl.newProduct.shelf" value="D"> D </label>
                <label class="radio-inline"><input name="shelf" type="radio" ng-model="createCtrl.newProduct.shelf" value="E"> E </label>                         
                <label class="radio-inline"><input name="shelf" type="radio" ng-model="createCtrl.newProduct.shelf" value="F"> F </label>                                       
            </div>
        </div>
            
        <div class="form-group row">
            <label class="col-sm-2 col-form-label table-head">Gender</label>
            <div class="col-sm-10">
                <label class="radio-inline"><input name="gender" type="radio" ng-model="createCtrl.newProduct.gender" value="M" required> M </label>
                <label class="radio-inline"><input name="gender" type="radio" ng-model="createCtrl.newProduct.gender" value="F"> F </label>            
            </div>
        </div>
            
        <div class="form-group row">
            <label class="col-sm-2 col-form-label table-head">Size</label>
            <div class="col-sm-10">
                <label class="radio-inline"><input name="size" type="radio" ng-model="createCtrl.newProduct.size" value="32" required> 32 </label>
                <label class="radio-inline"><input name="size" type="radio" ng-model="createCtrl.newProduct.size" value="34"> 34 </label>
                <label class="radio-inline"><input name="size" type="radio" ng-model="createCtrl.newProduct.size" value="36"> 36 </label>
                <label class="radio-inline"><input name="size" type="radio" ng-model="createCtrl.newProduct.size" value="38"> 38 </label>
                <label class="radio-inline"><input name="size" type="radio" ng-model="createCtrl.newProduct.size" value="40"> 40 </label>           
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label table-head"> Price </label>
            <input type="number" name="price" ng-model="createCtrl.newProduct.price" required />
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label table-head"> Quantity </label>
            <input type="number" name="quantity" ng-model="createCtrl.newProduct.quantity" required />
        </div>

        <input type="submit" value="Save" class="btn btn-positive"></button>
        <button type="button" class="btn btn-negative" ui-sref= "dashboard"> Close </button>
    </form>         
</div>
