html {
    position: relative;
    height: 100%;
    margin: 0;  
}

body {
    font-family: Arial, Helvetica, sans-serif
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; 
  }

img {
    height:23px;
    width:23px
}


  .sortorder:after {
    content: '\25b2';   
  }
  .sortorder.reverse:after {
    content: '\25bc';   
  }


.welcome {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/images/welcome.jpeg);
    min-height: 1010px;
    height: 100%; 
    flex-direction: column
}

.welcome-form {
    width: auto;
    min-width: 500px;
    height: 400px;
    background-color: transparent;
    position: relative;
    padding-top: 0;
    margin-bottom: 80px
}

.welcome-message {
    text-align: center;
    font-size: 40px;
    margin-bottom: 300px;
    color: white
}

.container {
    background-color: #3B7797;
    min-height: 1010px;
    height:100%;
    color: white;
    padding: 20px 30px;
}

.btn-negative {
    background-color: #E46054;
    color: white;
}

.btn-positive {
    background-color: #F7B32B;
    color: white;
}

.btn-download {
    background-color: #A0C1D1;
    color: white;
}

.btn-sign-in {
    background-color: #3B7797;
    color: white;
}

.btn-background {
    background-color: #3B7797;
}

.radio-inline {
    padding: 7px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}