<div class = "container">
    <p>Edit this product</p>
						  
    <form class="form-horizontal" role="form">
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Code</label>
				<div class="col-sm-10">
					  <input type="text" class="form-control" ng-model="editCtrl.selected.code">
				</div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
				<div class="col-sm-10">
					  <input type="text" class="form-control" ng-model="editCtrl.selected.name">
				</div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Gender</label>
				<div class="col-sm-10">
					  <input type="text" class="form-control" ng-model="editCtrl.selected.gender">
				</div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Size</label>
				<div class="col-sm-10">
					  <input type="text" class="form-control" ng-model="editCtrl.selected.size">
				</div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Price</label>
				<div class="col-sm-10">
				    <input type="text" class="form-control" ng-model="editCtrl.selected.price">
				</div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Quantity</label>
				<div class="col-sm-10">
				    <input type="text" class="form-control" ng-model="editCtrl.selected.quantity">
				</div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-10">
				<button type="submit" class="btn btn-primary" ng-click="editCtrl.updateProduct(product)">
                    <span>Save</span>
                </button>
            </div>
        </div>
    </form>

						
    <button type="button" class="btn btn-default" ui-sref="dashboard">
        <span>Close</span>
    </button>					
			
</div>
 