<div class="container" id="print">
	
	<!--DASHBOARD HEAD-->
	<button type="button" class="btn btn-positive float-right" ui-sref="create"> New product</button>
	<button type="submit" class="btn-negative btn" ui-sref="welcome">Sign out</button>

	<button class="btn btn-background" ng-print print-element-id="print">
	<i class="fa fa-print"></i> 
	<img src="/assets/images/print.png">
   </button>

	<br>
	<br>
	<nav class="navbar navbar-light bg-light">
		<form class="form-inline">
			<!-- search a product using the code -->
			<input class="form-control mr-sm-2 input-sm" type="search" placeholder="Code" aria-label="Search" ng-model="searchModel.code">
			<button class="btn btn-background btn-sm my-2 my-sm-0" type="submit" ng-click="filterSearch = searchModel"><img src="/assets/images/search.png"> </button>
		</form>
	</nav>
	<span class="clearfix"></span>
	<hr>	

	<!--DASHBOARD TABLE-->
	<table class="table">
		<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Code</th>
			<th scope="col">Type</th>
			<th scope="col">Shelf</th>
			<th class="sortProduct" scope="col" ng-click="dashboardCtrl.sortBy('gender')">Gender
				<div ng-class="dashboardCtrl.getSortClass('gender')"></div>	
			</th>
			<th class="sortProduct" scope="col" ng-click="dashboardCtrl.sortBy('size')">Size
				<div ng-class="dashboardCtrl.getSortClass('size')"></div>	
			</th>
			<th class="sortProduct" scope="col" ng-click="dashboardCtrl.sortBy('price')">Price
				<div ng-class="dashboardCtrl.getSortClass('price')"></div>
			</th>
		  	<th class="sortProduct" scope="col" ng-click="dashboardCtrl.sortBy('quantity')">Quantity
				<div ng-class="dashboardCtrl.getSortClass('quantity')"></div>
			</th>
		</tr>
		</thead>

		<tbody>
		<tr ng-repeat= "product in dashboardCtrl.prod | filter:{'code' : filterSearch.code} | limitTo:dashboardCtrl.pageSize:dashboardCtrl.currentPage*dashboardCCtrl.pageSize | orderBy:dashboardCtrl.propertyName:dashboardCtrl.reverse">
		  <th scope="row">{{$index+1}}.</th>
			<td type="number">{{product.code}}</td>
			<td>{{product.type}}</td>
			<td>{{product.shelt}}</td>
			<td>{{product.gender}}</td>
			<td>{{product.size}}</td>
			<td>{{product.price | currency}}</td>
			<td>{{product.quantity}}</td>
			<td><button type="button" class="btn btn-background btn-sm" ng-click="dashboardCtrl.editProd(product)"><img src="/assets/images/edit.png"> </button>
			<button type="button" class="btn btn-background btn-sm" ng-click="dashboardCtrl.viewProd(product)"> <img src="/assets/images/View.png"> </button>
			<button type="button" class="btn btn-background btn-sm" ng-click="dashboardCtrl.selectProduct(product)" data-toggle="modal" data-target="#myModalDelete"> <img src="/assets/images/delete.png"> </button></td>
		</tr>
		</tbody>
	</table>

<!-- Pagination -->
<div>
	<button ng-disabled="dashboardCtrl.currentPage == 0" ng-click="dashboardCtrl.currentPage=dashboardCtrl.currentPage-1">
        Previous
    </button>
    {{dashboardCtrl.currentPage+1}}/{{dashboardCtrl.numberOfPages()}}
    <button ng-disabled="dashboardCtrl.currentPage >= dashboardCtrl.prod.length/dashboardCtrl.pageSize - 1" ng-click="dashboardCtrl.currentPage=dashboardCtrl.currentPage+1">
        Next
    </button>
</div>

<!--Delete Modal start-->
<div class="modal fade" id="myModalDelete" role="dialog">
		<div class="modal-dialog"> 
		  <div class="modal-content">
			<div class="modal-header">
			  <h4 class="modal-title">Are you sure you want to delete this product? </h4>
			</div>				  
			<div class="modal-footer">
				<button type="button" class="btn btn-positive" data-dismiss="modal" ng-click="dashboardCtrl.deleteProduct()">Yes</button>
				<button type="button" class="btn btn-negative" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>




 
