<div class="container">
	
	<!--DASHBOARD HEAD-->
	<button type="button" class="btn btn-positive float-right" ui-sref="create"> New product</button>
	<button type="submit" class="btn-negative btn" ui-sref="welcome">Sign out</button>
	<button class="btn btn-lg btn-background" ng-print print-element-id="print"><i class="fa fa-print"></i> </button>

	<br>
	<br>
	<nav class="navbar navbar-light bg-light">
		<form class="form-inline">
			<!-- search a product using the code -->
			<input class="form-control mr-sm-2 input-sm" type="search" placeholder="Code" aria-label="Search" ng-model="searchModel.code">
			<button class="btn btn-background btn-lg my-2 my-sm-0" type="submit" ng-click="filterSearch = searchModel"><i class="fa fa-search" aria-hidden="true"></i></button>
		</form>
	</nav>
	<span class="clearfix"></span>
	<hr>	

	<!--DASHBOARD TABLE-->
	<table class="table" id="print">
		<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Code</th>
			<th scope="col">Type</th>
			<th scope="col">Shelf</th>

			<th class="sortProduct" scope="col" ng-click="dashboardCtrl.sortBy('gender')">Gender 
				<div ng-class="dashboardCtrl.getSortClass('gender')"></div>	
			</th>

			<th class="sortProduct" scope="col" ng-click="dashboardCtrl.sortBy('size')">Size
				<div ng-class="dashboardCtrl.getSortClass('size')"></div>	
			</th>

			<th class="sortProduct" scope="col" ng-click="dashboardCtrl.sortBy('price')">Price
				<div ng-class="dashboardCtrl.getSortClass('price')"></div>
			</th>

		  	<th class="sortProduct" scope="col" ng-click="dashboardCtrl.sortBy('quantity')">Quantity
				<div ng-class="dashboardCtrl.getSortClass('quantity')"></div>
			</th>
		</tr>
		</thead>

		<tbody>
		<tr ng-repeat= "product in dashboardCtrl.prod | filter:{'code' : filterSearch.code} | limitTo:dashboardCtrl.pageSize:dashboardCtrl.currentPage*dashboardCtrl.pageSize | orderBy:dashboardCtrl.propertyName:dashboardCtrl.reverse">
		  <th scope="row">{{$index+1}}.</th>
			<td type="number">{{product.code}}</td>
			<td>{{product.type}}</td>
			<td>{{product.shelf}}</td>
			<td>{{product.gender}}</td>
			<td>{{product.size}}</td>
			<td>{{product.price | currency}}</td>
			<td>{{product.quantity}}</td>
			<td>
				<button type="button" class="btn btn-background btn-sm" ng-click="dashboardCtrl.editProd(product)"> <i class="fa fa-file" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-background btn-sm" ng-click="dashboardCtrl.viewProd(product)"> <i class="fa fa-eye" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-background btn-sm" ng-click="dashboardCtrl.selectProduct(product)" data-toggle="modal" data-target="#myModalDelete"> <i class="fa fa-trash" aria-hidden="true"></i></button>
			</td>
		</tr>
		</tbody>
	</table>

<!-- Pagination -->
<div>
	<button class="btn btn-background" ng-disabled="dashboardCtrl.currentPage == 0" ng-click="dashboardCtrl.currentPage=dashboardCtrl.currentPage-1">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
    {{dashboardCtrl.currentPage+1}}/{{dashboardCtrl.numberOfPages()}}
    <button class="btn btn-background" ng-disabled="dashboardCtrl.currentPage >= dashboardCtrl.prod.length/dashboardCtrl.pageSize - 1" ng-click="dashboardCtrl.currentPage=dashboardCtrl.currentPage+1">
		<i class="fa fa-arrow-right" aria-hidden="true"></i>
    </button>
</div>

<!--Delete Modal start-->
<div class="modal fade" id="myModalDelete" role="dialog">
		<div class="modal-dialog"> 
		  <div class="modal-content">
			<div class="modal-header">
			  <h4 class="modal-title">Do you want to delete {{dashboardCtrl.selected.code}}? </h4>
			</div>				  
			<div class="modal-footer">
				<button type="button" class="btn btn-positive" data-dismiss="modal" ng-click="dashboardCtrl.deleteProduct()">Yes</button>
				<button type="button" class="btn btn-negative" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
