<!-- form for creating a new product -->
<div class="container">  
    <br>
    <form name ="createForm" class="form-horizontal" id="checked-form" role="form">
        <div class="form-group row" >
            <div class="col-sm-10">
                <input class="form-control" ng-model="createCtrl.newProduct.code" readonly>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10" ng-model="createCtrl.newProduct.type">
                    <label class="radio-inline"><input type="radio" name="optradio" checked>Polo</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Message</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Graphic</label>
                    
                <!-- <input type="text" class="form-control" ng-model="createCtrl.newProduct.type" placeholder="Type (e.g. Jeans)"> -->
            </div>
        </div>

        <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="createCtrl.newProduct.shelf" placeholder="Shelf">
                </div>
            </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="createCtrl.newProduct.gender" placeholder="Gender">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="createCtrl.newProduct.size" placeholder="Size">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <input type="number" class="form-control" ng-model="createCtrl.newProduct.price" placeholder="Price">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <input type="number" name="quantity" ng-pattern="/^[0-9]\d*$/" class="form-control" ng-model="createCtrl.newProduct.quantity" placeholder="Quantity">
                <span ng-show="createForm.quantity.$error.pattern">Not a valid number!</span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" ng-click="createCtrl.saveProduct()">
                    <span>Save</span>
                </button>
            </div>
        </div>
    </form>
 <!-- find other solution for ui-sref -->
        <button type="button" class="btn btn-default" ui-sref= "dashboard">
            <span>Close</span>
        </button>
</div>
